
.note--cotainer{

    height: 100%;
    width: 100vw !important;
    background-color: #000;
    color:white;
    margin-bottom: 10px;    
    position: relative;
    overflow-x: hidden;
}

.notes--header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    /* padding:8p; */
    position: sticky;
    top:0;
    z-index: 100;
    width: 100vw;
    height: 125px;
}

.notes--heading{
    margin-right: 12px;
    font-size: 36px;
    margin-left: -14px;
    padding: 20px 0;
}

.notes--input{
    margin-right: 26px;
    margin-top: 10px;
    padding:18px 15px;
    font-size: 20px;
    width: 700px;
    border-radius: 8px;
    outline: 0;
    background: transparent;
    color: #fff;
    border: 2px solid #242424;
    margin-left: -10px;
    
}


.navBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.btn{
    font-size: 50px;
    background-color: #242424;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
}

.btn:hover,.signOutBtn:hover{
    
    background-color: #fff;
    color: #000;
}

.signOutBtn{
    padding:1rem ;
    background-color: #242424;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.footerBtn{
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    display: flex;
    justify-content: end;
    width: 20vw;
}

.btn-plus{
    font-size: 60px;
    background-color: #242424;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0.5rem;  
}
.btn-plus:hover{
    background-color: #fff;
    color: #000;
}



/* Media Queries */
@media (max-width:819px){
    .note--cotainer{
        position: relative;
    } 
    .notes--header{
       min-width: 100vw !important;
       gap: 3rem;
       padding: 0 20px !important;
       margin-top: -1rem;
       
    }
    .notes--heading{
        margin-right: 16px;
        font-size: 22px;
    }
    .notes--input{
        margin-right: 16px;
        padding: 10px;
        width: 250px;
        border-radius: 3px;
    }
    .navBtns{
        gap: 0rem;
    }
    .btn{
        font-size: 30px;
         padding: 5px;
         margin-right:10px;
    }

    .signOutBtn{
        padding: 0.3rem 0.5rem;
        background-color: #242424;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 400;
    }

}